@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:linear-gradient(to left,#4299E1,#48BB78);
    
}

.content{
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:column;
    gap:2em;
}

.titulo{
    text-align:center;
    color:white;
    font-family:'Nunito',sans-serif;
    font-size:4rem;
}

.texto{
    text-align:center;
    color:white;
    font-family:'Nunito',sans-serif;
    font-size:1.5em;
}



.input{
    background-color: white;
    border:none;
    outline:none;
    text-align: center;
    border-radius:20px;
    width: 100%;
    max-width:600px;
    height: 60px;
    font-size:1.5em;
    padding-left: 20px;
    color:#585858;
}


.dificuldade{
    max-width:300px;
}



.resposta{
    text-align:center;
    font-family:'Nunito',sans-serif;
    font-size:1.5em;   
}

.buttonContent{
    display: flex;
    gap:20px;
}

.button{
    background-color: transparent;
    font-family: 'Nunito';
    border:1px solid white;
    color:white;
    border-radius:20px;
    padding:12px 100px;
    font-size:1.5em;
}

.enviar:hover{
    background-color: #4299E1;
    border-style:none;
}
.reset:hover{
    background-color: #ffcd45;
    border-style:none;
}

.reset:disabled{
    background-color: #5858587a;
    color:#d8d8d8;
    border-color: #d8d8d8 ;
}


@media (max-width:600px){
    .content{gap:2.2em;}
    .titulo{ font-size: 2.9rem; }
    .texto{ padding: 0px 10px; }
    .resposta{ padding-left: 0px 10px;}
    .input{width: 90%;}
    .buttonContent{ flex-direction: column; }
}