@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:linear-gradient(to left,#4299E1,#48BB78);
    
}

.content{
    border:1px solid white;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:column;
    gap:2em;
}

.titulo{
    text-align:center;
    color:white;
    font-family:'Nunito',sans-serif;
    font-size:3rem;
}